# Ignore virtual environments
langflow_env/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore node_modules
node_modules/

# Ignore local settings and logs
.env
.DS_Store

# VSCode
.vscode/
